* {
  margin: 0;
  padding: 0;
}

#englishInput {
  height: 200px;
  width: 400px;
}

#botInput {
  height: 200px;
  width: 400px;
}

ul {
  
}

ul li {
  list-style: none;
  display: inline-block;
  float: left;
}

ul li a {
  text-decoration: none;
}