#englishInput {
  height: 200px;
  width: 400px;
}

#botInput {
  height: 200px;
  width: 400px;
}

::-webkit-input-placeholder {
   text-align:top;
}

:-moz-placeholder { /* Firefox 18- */
   text-align:top;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align:top;  
}

:-ms-input-placeholder {  
   text-align:top; 
}
